name: Generate Documentation

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: '6.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build and generate documentation
      run: |
        dotnet build --configuration Release --no-restore /p:GenerateDocumentationFile=true /p:DocumentationFile=$(Build.ArtifactStagingDirectory)/docs/RebarCore.xml
        
    - name: Publish documentation artifacts
      uses: actions/upload-artifact@v2
      with:
        name: documentation
        path: $(Build.ArtifactStagingDirectory)/docs/RebarCore.xml
